[submodule "02_Git/02_Git_Branches"]
	path = 02_Git/02_Git_Branches
	url = https://github.com/dz-artsiukh/02_Git_Branches.git
[submodule "02_Git/01_HW_Git_repos/JSON"]
	path = 02_Git/01_HW_Git_repos/JSON
	url = https://github.com/dz-artsiukh/JSON.git
[submodule "02_Git/01_HW_Git_repos/XML"]
	path = 02_Git/01_HW_Git_repos/XML
	url = https://github.com/dz-artsiukh/XML.git
[submodule "02_Git/01_HW_Git_repos/TXT"]
	path = 02_Git/01_HW_Git_repos/TXT
	url = https://github.com/dz-artsiukh/TXT.git
